.btn {
    background: transparent;
    border: 2px solid $white;
    border-radius: .5rem;
    color: $white;
    display: block;
    font-size: 1.8rem;
    margin: 3rem 0;
    padding: .5rem 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
    transition: all .2s;
    &:active {
        filter: drop-shadow(0 .5rem .5rem rgba(0, 0, 0, 0.582));
        transform: translateY(-.3rem)
    }
    &:focus {
        outline: none;
    }
    &:hover {
        filter: drop-shadow(0 1rem .25rem rgba(0, 0, 0, 0.582));
        transform: translateY(-.5rem);
    }
    @include medium {
        margin: 3rem auto;
        padding: 1rem 0;
        width: 25rem;
    }
}

.btn__result {
    display: none;
}