.btn {
    background: transparent;
    border: 2px solid $white;
    border-radius: .5rem;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 1.8rem;
    margin: 3rem auto;
    max-width: $maxWidth;
    padding: .5rem 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
    -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.582));
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.582));
    transition: all .2s;
    z-index: 9999;
    &:active {
        -webkit-filter: drop-shadow(0 .5rem .5rem rgba(0, 0, 0, 0.582));
        filter: drop-shadow(0 .5rem .5rem rgba(0, 0, 0, 0.582));
        transform: translate(-.3rem)
    }
    &:focus {
        outline: none;
    }
    &:hover {
        -webkit-filter: drop-shadow(0 1rem .25rem rgba(0, 0, 0, 0.582));
        filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.582));
        @include medium {
            transform: translate(0, -.5rem);
        }
    }
    @include medium {
        margin: 3rem auto;
        padding: 1rem 0;
        width: 25rem;
    }
}

.btn__result {
    display: none;
}

.btn__container {
    border: none;
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.582));
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.582));
    transition: all .2s;
    @include medium {
        padding: 7.5rem 0 0 0;
        margin: 3rem 0;
    }
    &:hover {
        -webkit-filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.582));
        filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.582));
        @include medium {
            transform: translateX(0) translateY(-1rem);
        }
    }
}
.btn__container--large {
    margin: 0 auto 4rem;
}

.btn--play {
    background: $start;
    max-width: $maxWidth/2;
    text-transform: uppercase;
    font-weight: 800;
}
.btn--next {
    max-width: $maxWidth/2;
    &:hover {
        -webkit-filter: drop-shadow(0 1rem .25rem rgba(0, 0, 0, 0.582));
        filter: drop-shadow(0 1rem .25rem rgba(0, 0, 0, 0.582));
    }
}