* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Khula', sans-serif;
    line-height: 1.5;
}

.wrapper {
    width: 100%;
}

.clearfix {
    clear: both;
}

.source {
    font-size: 80%;
    font-style: italic;
}