%logo {
    height: 80%;
}

.logo__wrapper {
    align-items: center;
    display: flex;
    height: 10rem;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding: 0 2rem;
    width: 100%;
}

.concerto-logo {
    @extend %logo;
}
.concerto-logo--start {
    display: block;
    width: 8rem;
    margin: 0 auto;
}

.quiz-logo {
    @extend %logo;
}
.quiz-logo--start {
    display: block;
    width: 70%;
    margin: 4rem 16% 4rem 14%;
}

.header__text {
    margin-bottom: 2rem;
}
.header__text--result {
    
}