%logo {
    height: 80%;
}

.logo__wrapper {
    align-items: center;
    display: flex;
    height: 10rem;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding: 0 2rem;
    width: 100%;
    a {
        min-height: 9rem;
        min-width: 9rem;
        height: auto;
        width: auto;
    }
}

.concerto-logo {
    @extend %logo;
    @include medium {
        top: 4rem;
        height: auto;
        position: fixed;
        right: 4rem;
        width: 10rem;
    }
}
.concerto-logo--start {
    display: block;
    width: 8rem;
    margin: 0 auto;
}

.quiz-logo {
    @extend %logo;
    @include medium {
        height: 12rem;
        max-width: 40rem;
        margin: 0;
        position: fixed;
        top: 4rem;
        left: 4rem;
    }
}
.quiz-logo--start {
    display: block;
    width: 70%;
    margin: 4rem auto;
    max-width: 40rem;
    @include medium {
        margin: 4rem auto;
        position: relative;
        top: 0;
        left: 0;
    }
}

.header__text {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 1.2;
}