.question1, .question5, .question9, .question13, .good {
    @extend %grad-blue-purple;
}

.question2, .question6, .question10, .question14, .bad {
    @extend %grad-red-orange;
}

.question3, .question7, .question11, .question15 {
    @extend %grad-yellow-orange;
}

.question4, .question8, .question12, .medium {
    @extend %grad-white-blue;
}

.bad, .medium, .good {
    // max-width: 80rem;
}

.question__wrapper {
    position: relative;
    padding: 0 3rem;
    text-align: center;
    padding-bottom: 3rem;
}
.question__slider {
    position: relative;
    @include medium {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}
.question__slide {
    top: 0;
    left: 0;
    display: none;
    @include medium {
        
    }
}
.question__slide--active {
    display: block;
}
.question__unanswered {
    display: flex;
    flex-direction: column;
}
.question__content {
    color: $white;
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    @include medium {
        max-width: 80rem;
        margin: 0 auto;
    }
}

.question__answered {
    padding-top: 7rem;
    text-transform: uppercase;
}
.question__correct {
    @extend .question__content;
    background: url(img/correct.svg) center top no-repeat;
    background-size: 6rem;
}
.question__wrong {
    @extend .question__content;
    background: url(img/wrong.svg) center top no-repeat;
    background-size: 6rem;
}
.question__comment {
    color: $white;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2rem;
    @include medium {
        max-width: 80rem;
        margin: 3rem auto 0;
    }
}

.question__btn-group {
    @include medium {
        align-content: center;
        display: flex;
        justify-content: center;
        max-width: 100rem;
        width: 90%;
        margin: 0 auto;
    }
}
.question__btn {
    background: url(img/button__question.svg) center center no-repeat;
    background-size: contain;
    border: none;
    color: $black;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-left: -1rem;
    margin-bottom: 0;
    padding: 2.5rem 1.5rem 2.5rem 4rem;
    width: 100%;
    height: 8rem;
    position: relative;
    @include medium {
        padding-left: 6rem;
    }
    &:hover {
        filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.582));
    }
    &:active {
        filter: drop-shadow(0 .5rem .5rem rgba(0, 0, 0, 0.582));
    }
}
.question__btn--large {
    background: url(img/button__question--large.svg) center center no-repeat;
    background-size: contain;
    height: 16.7rem;
    @include medium {
        height: 18rem
    }
    img {
        height: 100%;
    }
}


.score {
    color: $white;
    border: .2rem solid $white;
    font-size: 1.5rem;
    height: 6rem;
    margin: 3rem auto 0;
    padding: 1.9rem 0;
    width: 6rem;
    border-radius: 10rem;
    @include medium {
        border-width: .25rem;
        font-size: 1.8rem;
        font-weight: 600;
        height: 8rem;
        width: 8rem;
        padding: 2.7rem 0;
        left: 50%;
        transform: scale(1) translate(-50%, 0);
        position: absolute;
        top: -16rem;
    }
}
.score--result {
    transform: scale(1.5);
    margin: 6rem auto 4rem;
    @include medium {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        margin: 0 auto 3rem;
        transform: scale(1);
    }
}