.start {
    @include medium {
        max-width: $maxWidth;
        margin: auto;
    }
}

.start {
    p {
        margin: 2rem auto;
        max-width: $maxWidth;
    }
}
.wrapper--start {
    @extend %grad-white-blue;
}